/Checker.class
/CheckerWrapper2.class
/CheckersSettings.class
/DaemonSettings.class
/Main.class
/ProcessResult.class
/ProcessWrapper.class
/Task.class
/TaskManagerClient.class
/Worker.class
/WorkerManager.class
