html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	background-color:#dfefff;
	background: url('clouds.jpg');
	background-attachment:fixed;
	background-size:100%;
}

table {
	width:100%;
	border: 0;
	border-spacing: 0;
	margin: 0;
}

form {
	padding: 0;
	margin: 0;
}

button, input, select, textarea {
	margin: 0;
	outline: 0;
	padding: 0;
}

textarea, input[type=text], input[type=password], input[type=email] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-size:24px;
}
h2 {
	font-size:20px;
}
.main {
	height:auto !important;
	height:100%;
	min-height:100%;

	width:1000px;
	margin: 0 auto;
	padding:10px 40px;
	background-color:#fff;
}

#login {
	float:right;
	font-weight:bold;
	color:#555;
}

#auth {
	float:right;
}

.clear {clear:both}

.form-main {
	width:100%;
	margin-bottom:20px;
}
.form-login {
	width:400px;
}
.container > * {
	width: 100%;
}
.form-control {
	font-size:20px;
	margin:5px 0;
	padding:8px;
	width:100%;
}
.search {
	background-color:#bfdfff;
	border-radius:3px;
	padding:8px;
}
.search-input-col {
	width:100%;
}
.search-btn {
	width:120px;
	padding:6px;
}
.search-hits {
	margin:20px 0;
}
.search-result {
	border-radius:3px;
	border:1px solid #ddd;
	margin: 5px 0;
	padding: 8px;
	background-color:#eee;
}
.search-result td {
}
.search-result-title {
	font-size:18px;
	color:#003;
}
.search-result-date {
	color:#555;
}
.search-result-login {
	color:#555;
}
.search-result-text {
	padding-top:5px;
	font-style: italic;
}

.votes-col-title {width:80%}
.votes-col-text {width:20%}