
#############
## Pahaz
#############
.idea

*.py[co]
__pycache__

# Packages
*.egg
*.egg-info

services/dispatcher/dist/
services/dispatcher/build/
services/dispatcher/eggs/
services/dispatcher/parts/
services/dispatcher/venv/
services/dispatcher/db/messages.db
services/dispatcher/db/freq.db
services/dispatcher/db/test.db
services/dispatcher/messages.db
services/dispatcher/freq.db
services/dispatcher/test.db

# IDE
services/dispatcher/.idea

# Installer logs
pip-log.txt

services/chat/chat
services/chat/users.db
services/chat/sftp-config.json
