.form-container {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -1px 15px;
	background-color: #ffffff;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;


	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}

#mix-logo {
	width: 75%;
	margin-top: 10px;
	margin-bottom: 10px;
}