/CheckerExitCode.class
/CheckerFailureException.class
/CheckerTester.class
/CheckerWrapper.class
/Checksystem.class
/Constants.class
/DatabaseManager.class
/DbConfigLoader.class
/FlagManager.class
/IdFlagPair.class
/TeamCheckThread.class
